<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm John McIntosh II</h1>
		<p>Welcome to my blog!</p>
		<p>This is where I'm sharing my thoughts and projects on which I've worked.</p>
		<p>I'm actively looking for full-time web development work.</p>
		<p>Please feel free to get in touch with me via the links on the left.</p>
	</div>
</div>